<div class="container">
    <h1>Editing <%= @contact.name %>'s Record</h1>
    <br>
    <%= render 'form', contact: @contact %>

    <%= link_to 'Back', contacts_path, class: "btn btn-secondary"%> |
    <%= link_to 'Show', @contact, class: "btn btn-warning"%>
    
</div>